<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="app">
    <%- include('./templates/header.ejs')%>


        <div class="sophie-branch">
            <div class="app-button-box">
                <a href="/eingaben" class="app-button app-button--green">Eingaben</a>
                <a href="/ausgaben" class="app-button app-button--red">Ausgaben</a>
            </div>

            <div class="app-top">
                <div class="calendar">
                    <img src="/images/calendar.png" alt="Kalender">
                </div>
                <button type="button" class="app-button-months"></button>
                <button type="button" class="app-button-months"></button>
            </div>
        </div>

        <div class="data-container">
            <div class="data-month">
                <h2>April</h2>
            </div>
            <div class="data-entry data-entry--positive">
                <p class="data-date">25.03.2022</p>
                <div class="data-entry-inner">
                    <p class="data-name">Taschengeld</p>
                    <p class="data-amount">25,90€</p>
                </div>
            </div>
            <div class="data-entry data-entry--positive">
                <p class="data-date">25.03.2022</p>
                <div class="data-entry-inner">
                    <p class="data-name">Eventim Rückzahlung und langer Text</p>
                    <p class="data-amount">41,00€</p>
                </div>
            </div>
            <div class="data-entry data-entry--negative">
                <p class="data-date">25.03.2022</p>
                <div class="data-entry-inner">
                    <p class="data-name">Eventim Rückzahlung</p>
                    <p class="data-amount">41,00€</p>
                </div>
            </div>
            <div class="data-month">
                <h2>März</h2>
            </div>
            <div class="data-entry data-entry--positive">
                <p class="data-date">25.03.2022</p>
                <div class="data-entry-inner">
                    <p class="data-name">Taschengeld</p>
                    <p class="data-amount">25,90€</p>
                </div>
            </div>
            <div class="data-entry data-entry--negative data-entry--editing">
                <p class="data-date">25.03.2022</p>
                <div class="data-entry-inner">
                    <p class="data-name">Foodie Time</p>
                    <p class="data-amount">41,00€</p>
                </div>
            </div>
        </div>
        <script src="/js/script.js"></script>
</body>

</html>