<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashCashMoney</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('./templates/header.ejs')%>
    <h3>Account wirklich löschen?</h3>

    <div class="button-box">
        <form action="/delete-acc" class="delete-form" method="POST">
            <input type="submit" value="JA" class="button-yes" />
        </form>
        <a href="/einstellungen" class="button-no">NEIN</a>
    </div>

</body>

</html>