<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <h1 class="hpHeadline">CashCashMoney</h1>

    <div class="hpLogo">
        <img src="/images/piggyLogo.png" alt="CashCashMoney">
        <img src="/images/piggyLogoHover.png" class="img_top" alt="CashCashMoney">
    </div>

    <form action="/login">
        <button type="submit" class="hpButton">Login</button>
        <br>
    </form>
    <form action="/register">
        <button type="submit" class = "hpButton">Registrierung</button>
    </form>

</body>

</html>