<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashCashMoney</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="hp">
    <h1 class="hp-headline">CashCashMoney</h1>

    <div class="hp-logo">
    </div>

    <div class="button-box">
        <a href="/login" class="button">Login</a>
        <a href="/registrierung" class="button">Registrierung</a>
    </div>

</body>

</html>