<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
            <!-- provide header trough js-->
    </header>

    <div class="login">
        <form action="/login" class="button" method="POST">
            <label for="username">Benutzername:</label>
            <input type="text" id="username" name="username">
        </br>
            <label for="pw">Password:</label>
            <input type="password" id="pw" name="pw">
        </br>
           <input type="submit" value="LOG IN" />

        </form>

    </div>
</body>

</html>