<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body >
    <header>
            <!-- provide header trough js-->
        <%- include('./templates/header.ejs')%>
    </header>

    <div class="login-box">
        <form action="/login" class = "login-form" method="POST">

            <label for="username" class="login-label" >Benutzername:</label>
            <input type="text" id="username" name="username">

            <label for="password" class="login-label" >Password:</label>
            <input type="password" id="password" name="password">

           <input type="submit" value="LOG IN" class="button" />

        </form>

    </div>
</body>

</html>