<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
    <body>
        
        <header>
                <!-- provide header trough js-->
        </header>

        <div class="register">
            <form action="/register" class="button" method="POST">
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" >
                </br>
                    <label for="username">Vorname:</label>
                    <input type="text" id="vorname" name="vorname">
                </br>
                    <label for="username">Nachname:</label>
                    <input type="text" id="nachname" name="nachname">
                </br>
                    <label for="mail">Mailadresse:</label>
                    <input type="email" id="mail" name="mail">
                </br>
                    <label for="pw">Password:</label>
                    <input type="password" id="pw" name="pw">
                </br>
                    <label for="pwrep">Password wiederholen:</label>
                    <input type="password" id="pwrep" name="pwrep">
                </br>
                    <input type="submit" value="Registrieren" class="hpbutton" />  
            </form>
        </div>

    </body>
</html>