:root {
    /*--color-1: #DF752A;
    --color-2: #E2AF82;
    --color-3: #EBD2AE;
    --color-4: #A2BD93;
    --color-5: #437343;
    --color-6: #1B2E20;
    --color-7: #F9BC61;
    --color-8: #F7F3F5;
    --color-9: #E14E4F;*/

    --color-1: #FFFFF3;
    --color-2: #C6FFC6;
    --color-3: #FF9798;
    --color-4: #ECECEC;
    --color-5: #F7F7F3;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

body {
    background: var(--color-5);
    
}

h1 {
    font-family: 'JosefinSans';
    font-weight: 700;
}