:root {
    /*--color-1: #DF752A;
    --color-2: #E2AF82;
    --color-3: #EBD2AE;
    --color-4: #A2BD93;
    --color-5: #437343;
    --color-6: #1B2E20;
    --color-7: #F9BC61;
    --color-8: #F7F3F5;
    --color-9: #E14E4F;*/

    --color-1: #fffff3;
    --color-2: #c6ffc6;
    --color-3: #ff9798;
    --color-4: #ececec;
    --color-5: #f7f3f5;
    --color-6: #e5fee5;
    --color-7: #a7daa7;
    --color-8: #6b9f6b;
    --color-9: #c4c4c4;
    --color-10: #fe7375;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-ExtraLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

body {
    background-color: var(--color-6);
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'JosefinSans';
}
p,
a {
    font-family: 'SourceSansPro';
}
.hp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-6);
}

.hp-headline {
    margin: 25px 0 20px;
    font-size: 37px;
    font-family: 'JosefinSans';
    text-align: center;
}

@media screen and (min-width: 920px) {
    .hp-headline {
        font-size: 100px;
    }
}

.hp-logo {
    width: 90vw;
    align-self: center;
    background-position: center;
    height: 185px;
    background-image: url(/images/piggyLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hp-logo:hover {
    background-image: url(/images/piggyLogoHover.png);
}

.button-box {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    background-color: var(--color-7);
    border: 4px solid var(--color-8);
    color: black;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    border-radius: 2px;
    width: 153px;
    font-family: 'SourceSansPro';
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    justify-content: center;
}

.button:hover {
    background-color: #89b489;
    border: 4px solid #547e54;
}

.login-box {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}

.login-form {
    font-family: 'SourceSansPro';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form label {
    font-family: 'SourceSansPro';
    font-size: 22px;
    font-weight: 600;
}

.form-input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 2px;
    background-color: var(--color-5);
    border-radius: 2px;
    border: 0px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.loginbutton {
    background-color: var(--color-7);
    border: 4px solid var(--color-8);
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
    font-family: 'SourceSansPro';
    height: 50px;
    margin-top: 20px;
}

.loginbutton[disabled] {
    border: 4px solid #aeaeae;
    cursor: not-allowed;
}

/*Register form*/
.register-box {
    display: flex;
    flex-direction: column;
    height: 570px;
    align-items: center;
    justify-content: space-evenly;
}

.register-form {
    font-family: 'SourceSansPro';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 230px;
}

.app {
    margin: 0;
    background-color: var(--color-1);
}

.data-container {
    width: 100vw;
    height: calc(100vh - 375px);
    overflow: auto;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

.data-month {
    display: flex;
    height: 29px;
    background-color: var(--color-5);
    align-items: flex-end;
    padding-left: 24px;
    margin: 12px 0 8px;
}

.data-month h2 {
    font-size: 23px;
    margin: 0;
    font-weight: 300;
}

.data-entry {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.data-entry p {
    margin: 0;
}

.data-entry-inner {
    display: flex;
    justify-content: space-between;
}

.data-entry--positive {
    background-color: var(--color-2);
}

.data-entry--negative {
    background-color: var(--color-3);
}

.data-entry-date-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.data-date {
    font-size: 13px;
    line-height: 16px;
}

.data-name {
    font-size: 23px;
    line-height: 29px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 8px;
}

.data-amount {
    font-size: 23px;
    line-height: 29px;
}

.app-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 16px;
}

.app-button {
    color: black;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    border-radius: 2px;
    width: 168px;
    font-family: 'SourceSansPro';
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    justify-content: center;
    border: 0;
}
.app-button--green {
    background-color: var(--color-2);
}

.app-button--red {
    background-color: var(--color-3);
}

.app-button--green.app-button--pressed {
    background-color: var(--color-7);
}

.app-button--red.app-button--pressed {
    background-color: var(--color-10);
}

.app-button--pressed {
    box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border: 0;
}

.calendar {
    background-color: var(--color-9);
    height: 39px;
    width: 39px;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 3px;
}

.app-button-months {
    background-color: var(--color-5);
    width: 132px;
    height: 27px;
    border-radius: 2px;
    border: 0px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.app-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sophie-branch {
    margin: 30px 0;
}
.register-form label {
    font-family: 'SourceSansPro';
    font-size: 22px;
    font-weight: 600;
}

/*Header for all logged in sites*/
.header {
    background-color: var(--color-7);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-logo {
    width: 80px;
    height: 50px;
    background-image: url(/images/piggyLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.burgericon {
    width: 35px;
    height: 40px;
    padding: 5px;
    margin-left: 15px;
}

.icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/*header for not logged in sites*/

.burgericon-unlogged {
    width: 35px;
    height: 40px;
    padding: 5px;
    margin-left: 15px;
}

/*burger menu*/

.burgermenu {
    height: calc(100vh - 80px);
    width: 80vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 75px; /* leave space for header */
    right: -80vw;
    background-color: var(--color-7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s ease-in; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.burgermenu--active {
    transform: translateX(-80vw);
}

/* burger menu links */
.burgermenu a {
    padding: 20px 8px 20px 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.settings {
    width: 30px;
    height: 30px;
    background-image: url(/images/settingsGear.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 15px 15px auto;
}

/*Settings*/
.settings-box {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}

.settings-form {
    font-family: 'SourceSansPro';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.settings label {
    font-family: 'SourceSansPro';
    font-size: 22px;
    font-weight: 600;
}

.entrybar {
    font-family: 'SourceSansPro';
    font-size: large;
    height: 47px;
    background: var(--color-4);
    border-radius: 2px;
    border-style: none;
    margin: 7px 3px 7px 0px;
}

#entry_value {
    width: calc(90vw - 106px);
}
#entry_name {
    width: 90vw;
}

.entrybar-button {
    width: 47px;
    height: 47px;
    border-radius: 2px;
    border-style: none;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    cursor: pointer;
    margin: 3px;
}

.entrybar-button--positive {
    background-color: var(--color-2);
}

.entrybar-button--negative {
    background-color: var(--color-3);
}

.entry-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0px;
    background-color: var(--color-1);
    padding-top: 10px;
}

.button-delete {
    background-color: var(--color-3);
    border: 4px solid var(--color-9);
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    height: 35px;
    color: black;
    display: flex;
    font-weight: 550;
    text-decoration: none;
    justify-content: center;
    width: 198px;
    align-items: center;
}
.button-yes {
    background-color: var(--color-3);
    border: 4px solid var(--color-10);
    font-size: 20px;
    font-family: 'SourceSansPro';
    cursor: pointer;
    border-radius: 2px;
    height: 50px;
    font-weight: 550;
    justify-content: center;
    width: 206px;
}
.button-no {
    background-color: var(--color-7);
    border: 4px solid var(--color-8);
    font-size: 20px;
    height: 42px;
    cursor: pointer;
    border-radius: 2px;
    color: black;
    display: flex;
    font-weight: 550;
    text-decoration: none;
    justify-content: center;
    width: 198px;
    align-items: center;
}

.delete-table-container {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    width: calc(100vw - 60px);
    margin: 0 auto;
}

.delete-table {
    border: 2px solid #000000;
    border-collapse: collapse;
}

.delete-table tr {
    border-bottom: 2px solid #000000;
}

.delete-table td {
    padding: 2px 10px;
}

.delete-table tr:nth-child(2n) {
    background: var(--color-1);
}

[disabled] {
    background-color: #bbbbbb;
    cursor: not-allowed;
}

h3 {
    font-size: 23px;
    text-align: center;
    margin-top: 50px;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
        sans-serif;
}

#modal-3 {
    display: none;
}

#modal-3.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 16px;
    width: 80vw;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 24px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: '\2715';
}

.modal__content {
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

#update-data > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    gap: 20px;
}

#entry_update_date {
    min-width: 144px;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__btn {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: var(--color-7);
    color: #000000;
}

.modal__btn-primary[disabled] {
    background-color: #bbbbbb;
    cursor: not-allowed;
}

/**************************\
Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
