<header class="header">
        <a href="/index" class="header-logo">
        </a>
        <h2>CashCashMoney</h2>
        <!--add burger menu-->
        <div class="burgericon">
                <div class="icon"></div>
                <div class="icon"></div>
                <div class="icon"></div>
        </div>

        <div class="burgermenu">
                <a href="#">Eingaben/Ausgaben</a>
                <a href="#">Auswertung</a>
                <a href="#">Ausloggen</a>
                <div class="settings"></div>
              </div>
</header>