<!--header for unlogged situations to provide path back to index site -->
<header class="header">
        <a href="/index" class="header-logo"></a>
        <h2>CashCashMoney</h2>
        <div class="burgericon-unlogged">
        </div>
</header>